# Python
__pycache__/
*.pyc
.env
venv/

# Uploads e arquivos gerados
static/uploads/
static/img/
instance/

# Logs e testes
*.log
test_*.py

# SO
.DS_Store
Thumbs.db
__pycache__/
node_modules/
venv/
.env
*.log
debug_*.html
